{
  "extends": "eslint-config-simplifield",
  "envs": [
    "mocha": true,
    "node": true,
  ],
  "globals": {
    "describe": false,
    "beforeEach": false,
    "afterEach": false,
    "before": false,
    "after": false,
    "it": false,
  },
  "ecmaFeatures": {
    "modules": true,
    "arrowFunctions": true,
    "blockBindings": true,
    "restParams": true,
    "objectLiteralShorthandProperties": true,
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": false,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "restParams": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": true,
    "jsx": false,
    "experimentalObjectRestSpread": true
  },
}
