{
  extends: 'eslint-config-simplifield/lib/backend',
  parserOptions: {
    sourceType: 'module',
    modules: true,
    ecmaFeatures: {
      experimentalObjectRestSpread: true,
    },
  },
  rules: {
    'no-magic-numbers': 0,
    'node/no-unsupported-features': 0,
  },
}
